* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

p {
  font-size: 24px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0.5rem 0;
}

.options button {
  margin: 0.5rem 0.5rem;
  font-size: 14px;
  padding: 1rem;
  border-radius: 1rem;
  text-transform: capitalize;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
  -webkit-tap-highlight-color: transparent;
}

button:hover {
  background-color: #3e8e41;
  color: #fff;
}

button:active {
  box-shadow: 0 5px 5px #8a8a8a;
  transform: translateY(4px);
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5rem 0rem;
}

.field button {
  background-color: #363636;
  font-size: 14px;
  font-weight: bold;
  padding: 1rem;
  border-radius: 1rem;
  outline: none;
  border: none;
  cursor: pointer;
  color: #fff;
  box-shadow: 3px 3px 5px #858585;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */

  -webkit-tap-highlight-color: transparent;
}

.field p {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
  -webkit-tap-highlight-color: transparent;
}

@media screen and (max-width: 600px) {
  p {
    font-size: 16px;
  }

  .field p {
    font-size: 20px;
  }
}
